[2018-03-11 20:01] zenangst opened #6 "Add support for sticky header and footers"
The built-in layouts should support stick header and footers.

[2018-03-11 20:01] zenangst commented on #6
Initial support for sticky support is a part of this PR #5

[2018-03-12 17:15] #6 closed

[2018-05-21 12:45] christoff-1992 opened #15 "Incorrect collectionView size after setting layout in viewWillTransition."
I am trying to update the collectionView layout after rotating the device.

I programatically calculate the number of items that are required per row based on the size of the cell and the available width of the view. However this causes the collection view width and height to behave very oddly.

The width becomes too large and the height becomes too small...

Is there a preferred approach to take?

[2018-05-23 12:29] boardmain opened #16 "strange warning"
hi i read this warning in the dabug area

Snapshotting a view that has not been rendered results in an empty snapshot. Ensure your view has been rendered at least once before snapshotting or snapshot after screen updates.

[2018-05-24 05:55] zenangst commented on #16
Hey @boardmain, mind providing me with some additional information about the warning that you are seeing? Code examples are awesome in order to debug things like this further. Cheers!

[2018-05-24 07:09] zenangst commented on #15
Hey @christoff-1992, I'm guessing that both of your layouts are blueprint layouts?
I don't believe that you should have to invalidate the layout before setting a new one.
Simply setting the layout on the collection view should be enough. This is what I've done in the past when playing around with different layouts.

[code]

Mind sharing the configuration of your layouts then I might be able to hel

[2018-05-24 15:10] christoff-1992 commented on #15
Sure I have it working now, decided to switch to a vertical blueprint as it looked better and the issue stopped.

However now I have an issue where after rotating the collection view I can't scroll down past all the cells. Its as if it can't calculate the constraints correctly. The two may be related, debugging the view hierarchy doesn't appear to show any obvious issues.

Using the same code as a

[2018-05-25 07:42] christoff-1992 commented on #15
@zenangst - Fixed 👍 , bit of an oversight on my part ensuring that the view is laid out after setting the collectionViewLayout has resolved the issue.

Thanks, will close the issue.

[code]

[2018-05-25 07:42] #15 closed

[2018-05-25 07:44] zenangst commented on #15
@christoff-1992 ah, you solve it. That is awesome! 🚀
If you found any other shenanigans, have any ideas for features and what not; don't hesitate to open an issue so that we can discuss it 😎

Have a good one!

[2018-05-27 19:54] zenangst commented on #16
Hey @boardmain, any updates on this issue? 😎

[2018-05-30 21:59] zenangst commented on #16
Closing this due to inactivity. Feel free to re-open the issue if it should persist or if you need further assistance. Cheers mate 🍻

[2018-05-30 21:59] #16 closed

[2018-06-23 04:46] kchen97 opened #25 "reloadData() calls numberOfItemsInSection twice"
numberOfItemsInSection is called twice, set a breakpoint and look

[2018-06-23 04:47] kchen97 commented on #25
apps that load data asynchronously will crash because of this

[2018-06-23 08:54] zenangst commented on #25
Hey @kchen97, I’ll investigate this. A bit unsure what the root cause could be here at the top of my head.

[2018-06-24 22:14] zenangst commented on #25
Hello again, would you mind providing a sample project that I could easily test with? That would narrow the search down a bit, thanks!

[2018-06-24 22:54] kchen97 commented on #25
The project I am working on is private, but uses MVVM and to observe changes to my models which are changed asynchronously, and I have tested that reloadData is only called once whenever the data is set and I also freezed the UI (so the user cannot make any more REST calls), but numberOfItems is still called twice.

[2018-06-24 23:41] kchen97 commented on #25
Seems like numberOfItems is calling this function which is calling the my collection view's (again) numberOfItems.

Btw, this is happening for the HorizontalLayout.

[2018-06-25 05:55] zenangst commented on #25
@kchen97 I tried setting up a small project in order to reproduce this issue, however, I haven't been able to reproduce the crash. The reason why `numberOfItems` can be called multiple times is that the `prepare` method of the layout needs to know how many sections your data source has, it cannot really know that without asking it directly when creating layout attributes.

Are you using a multi-di

[2018-06-25 20:11] kchen97 commented on #25
I’m only using a 1D array with 1 section.

On Sun, Jun 24, 2018 at 10:55 PM Christoffer Winterkvist <
notifications@github.com> wrote:

--
Korman Chen
Software Engineer - Full Stack - iOS
(415) 866-0100

[2018-06-25 20:12] zenangst commented on #25
I see, however, because the layout supports multiple sections the data source will be queried for how many sections it has. So what about the exception that is thrown, what does it give the reason for crashing?

[2018-06-27 10:37] zenangst commented on #25
@kchen97 any updates on this issue? :)

[2018-06-28 01:53] kchen97 commented on #25
Haven’t had the time to test. Will let you know when I do.

On Wed, Jun 27, 2018 at 3:37 AM Christoffer Winterkvist <
notifications@github.com> wrote:

--
Korman Chen
Software Engineer - Full Stack - iOS
(415) 866-0100

[2018-06-28 06:43] zenangst commented on #25
No worries mate, a stack trace would be great to debug this further.

[2018-07-04 07:31] zenangst commented on #25
@kchen97 hey mate, just wanted to check in if you've revisited this issue yet?

[2018-07-16 15:17] zenangst commented on #25
Closing this issue for lack of activity, feel free to reopen it if its still an issue and if you have some additional stack traces to share.

[2018-07-16 15:17] #25 closed

[2018-08-28 07:59] vexelgray opened #27 "Blueprints @objc"
Can i use this library in Objective C?

[2018-08-28 08:03] zenangst commented on #27
@vexelgray  Good question, I haven't tried it out. I'm guessing that we'll have to add some annotations in order to expose everything that is needed into Objective-C land. You can give it a go and see, if there are any changes that needs implementing just hit me up about it... or even better, make a PR and I'll review it :)

[2018-08-28 08:07] vexelgray commented on #27
@zenangst i don't know where is the problem exactly, but blueprints dont allow initialize the class in objective-C as you can see in this screenshot:

<img width="607" alt="blueprint" src="https://user-images.githubusercontent.com/1415826/44709477-06337d00-aaaa-11e8-84c7-e45cdb10f949.png">

[2018-08-28 09:33] vexelgray commented on #27
@zenangst i saw the init method in the swift class, but the problem is init method can't be accessed through objective-C.

[2018-08-28 10:30] zenangst commented on #27
@vexelgray super true, give me a few minutes and I'll see if I can't make a branch for you to try it out.
I'll keep you posted!

[2018-08-28 11:00] zenangst commented on #27
@vexelgray hello again... I've pushed a branch and created a PR, mind trying it out to see how it works for you?

The branch is `feature/objc-support` and you can find the PR here #28

[2018-08-28 11:05] vexelgray commented on #27
@zenangst thank you! Im going to take a look and i'll say you something.

[2018-08-28 11:41] vexelgray commented on #27
@zenangst i've just tested it and it works like a charm 💪💪💪

Thank you!!!

[2018-09-02 18:31] zenangst commented on #25
Hey @kchen97, I found and fixed an issue which might just be the one that you were seeing.
You can find the PR here: https://github.com/zenangst/Blueprints/pull/29

[2018-09-13 16:53] guidev opened #30 "Mosaic Layout"
I'm having troubles understanding how the Mosaic Layout works...

I don't understand why the first "block" isn't aligned on the right.

![simulator screen shot - iphone 8 - 2018-09-13 at 18 51 27](https://user-images.githubusercontent.com/1105813/45503074-132cbd80-b786-11e8-90bf-39aba14c1d27.png)

[code]

[2018-09-13 17:08] zenangst commented on #30
Hey @guidev, you might have stumbled upon a bug in the layout. To me, it looks like it applies either section inset or minimumIter item spacing twice for the items in the first section.

I'm gonna great a small sample project just to try it out, btw; thanks a lot for supplying the actual layout parameters that are causing a ruckus. It will speed up debugging a lot. I'll get back to you when I have

[2018-09-13 19:46] guidev commented on #30
Thank you for your prompt reply!

Unfortunately, it doesn't seem fixed...

There's definitely 15px extra on the right of the first section!

<img width="349" alt="screen shot 2018-09-13 at 21 41 43" src="https://user-images.githubusercontent.com/1105813/45511653-dec4fb80-b79d-11e8-825d-da01b354db70.png">

[2018-09-13 21:44] zenangst commented on #30
Did you modify your layout from the example you gave me? If so, could you pass me the new one?
When I tried it, it actually looked like it was rendering correctly 🤔

[2018-09-13 21:47] zenangst commented on #30
This is the result that I get when using that configuration:

<img width="1211" alt="screen shot 2018-09-13 at 23 47 02" src="https://user-images.githubusercontent.com/57446/45517700-5a7b7400-b7af-11e8-8bea-a7dd7b390654.png">

[2018-09-14 10:57] zenangst commented on #30
Hey @guidev, have you had time to dig into this any further?

[2018-09-14 14:02] guidev commented on #30
Hi, here's a test project highlighting the issue.

Xcode 10 GM
Swift 4.2

https://github.com/gorillatech/Test-Mosaic

[2018-09-14 14:06] zenangst commented on #30
@guidev thanks mate, aiming to take a stab at it later this evening (if life allows), I'll keep you posted!

[2018-09-14 19:53] guidev commented on #30
Ok, this is weird...

I think I figured it out... I just deleted my Derived Data folder and everything works fine.
Apparently, changing the Podfile to point to the new branch wasn't enough, Xcode didn't recompile the framework but kept using the old one.

Anyhow... thank you for your amazing support!

<img width="381" alt="screen shot 2018-09-14 at 21 49 34" src="https://user-images.githubusercont

[2018-09-14 20:45] zenangst commented on #30
@guidev fantastic! Yeah, there are two things that are hard when it comes to programming, naming things and caching 🤓 Super happy that you solved it!

Well, the item size is a bit confusing at times, I give you that. It should really just be a height for this collection as it is the only thing that really matters. To come completely clean, this is probably just an oversight on my part when develop

[2018-09-14 20:46] #30 closed

[2018-09-14 22:08] zenangst commented on #30
@guidev I've made a new release with the fix so you should update your `Podfile` to use the latest release :)

[2018-09-24 13:17] boardmain opened #33 "Xcode 10, swfit 4.2"
hi when i try to build from xcode i have this error

Type 'UICollectionView' has no member 'UICollectionElementKindSectionHeader'

xcode 10
swift 4.2

[2018-09-24 13:41] zenangst commented on #33
@boardmain have you updated to the latest version (0.8.0) -
https://github.com/zenangst/Blueprints/releases/tag/0.8.0

That one should be good to go with Swift 4.2

[2018-09-25 06:43] zenangst commented on #33
@boardmain any news on this issue? 😃

[2018-09-26 06:42] zenangst commented on #33
Closing this issue, feel free to re-open it if it is still causing issues @boardmain

[2018-09-26 06:42] #33 closed

[2018-10-12 07:53] christoff-1992 opened #34 "Recommended approach to dynamic height using UICollectionViewDelegateFlowLayout"
Hey just wondering what the recommended approach is to using items per row with dynamic height, do we have to load a dummy cell to calculate the height and return this in the sizeForItemAt?

[2018-10-15 10:45] christoff-1992 opened #35 "Sticky headers are not working"
Hey at the moment if I implement the blueprints layout with sticky headers they do not stick to the top of the view.

Here is an example project: [Example](https://github.com/christoff-1992/BlueprintsTesting/tree/master/BlueprintsTesting)

[2018-10-15 21:30] rlam3 opened #36 "Is this swift 4.2 compatible?"
Is this swift 4.2 compatible?

[2018-10-15 22:00] christoff-1992 commented on #36
@rlam3 it is compatible with Swift 4.2 using it myself, if you check the release it was merged as part of #32

[2018-10-24 21:42] zenangst commented on #36
Yeap, it is compatible with Swift 4.2 :)

[2018-10-24 21:42] #36 closed

[2018-10-30 10:21] christoff-1992 commented on #34
@zenangst - apologies but do you have a recommenced approach to this? I haven't had much success whilst using both number of items per row and calculating a dynamic height. Ideally I want to be able to have X amount of rows in a vertical layout with dynamic cell heights.

Then for example when the device is rotated to landscape as there is more space I recalculate the number of items per row on a

[2018-11-06 09:37] zenangst commented on #34
Hey @christoff-1992, sorry for the super late response. I haven't had time to dig into using these kinds of layouts with dynamic height, life simply hasn't allowed it. I'll get back to you with more in-depth information when I get a chance to do so. Hope you understand! ❤

[2018-11-08 09:10] christoff-1992 commented on #34
Not a problem at all! you have already given your time by providing such a framework. Im going to be doing some research myself and will update myself once/if I find anything useful.

[2018-11-09 10:32] christoff-1992 opened #40 "Changing the dataSource can cause the cachedItems layoutAttributes to become nil, when the updated datasource has items for section at index."
I have observed the following behaviour when updating the dataSource and updating the collectionViewLayout. (As different cells are been used and they have a different height between the datasources)

1. CollectionView with segmented control that changes the datasource.
2. The first datasource has items, the second datasource has no items, the third datasource has items.
3. When switching to the e

[2018-11-15 10:54] zenangst commented on #40
@christoff-1992 keep me posted :)

[2018-12-05 13:55] christoff-1992 commented on #40
Im not sure what's going on.. I printed out some statements to ensure things where occurring in the correct order. You can see the cached items are added correctly, however during the layoutAttributesForItem* the cached items no longer exist.

I have managed to get the issue to replicate consistently in the following Fork of the project if you want to take a look. Just spam the fast forward button

[2018-12-05 13:57] zenangst commented on #40
@christoff-1992 fantastic that you managed to reproduce it inside an isolated environment, that is half the battle :) I'm gonna take a look when life allows. Cheers!

[2018-12-05 18:40] zenangst commented on #40
@christoff-1992 Hey mate, So, my theory goes that the prepare method wipes the cache, like it should because it is invalid when transitioning to a new layout. However, as we try to transition and wipe the cache at the same time, there could be a slight chance that the cache is actually empty when we try to access it. I think the same crash would occur if we reduced the number of sections in the da

[2018-12-05 20:10] christoff-1992 commented on #40
@zenangst - That makes perfect sense to me, I don't mind making a pull request will do this first thing tomorrow morning. 👍 thanks for taking a look.

[2018-12-05 20:11] zenangst commented on #40
@christoff-1992 awesome, can't wait to review it :)
I'm investigating #34 right now, I'll keep you posted on that one!

[2018-12-05 20:12] christoff-1992 commented on #40
@zenangst - Well if you need a hand with that one let me know, I wonder if it would be best to create a new layout if many changes are needed.

[2018-12-05 20:14] zenangst commented on #40
I'll hit you up when I have a PR, I think I know what is going on with it :)

[2018-12-05 20:24] zenangst commented on #34
@christoff-1992 I'm tinkering with some changes. I'm guessing that this is the kind of layout that you want when in landscape?

![simulator screen shot - iphone x - 2018-12-05 at 21 24 19](https://user-images.githubusercontent.com/57446/49541806-21493080-f8d4-11e8-81be-6977ecd5d161.png)

[2018-12-05 20:57] zenangst commented on #35
This is the last issue on my list for this evening but I ran out of time.
I will continue to investigate this some other evening, if you are feeling adventurous you can always take a stab at it, I'd love to review a PR or two :)

[2018-12-06 08:59] christoff-1992 commented on #34
@zenangst - 🥇 this looks perfect! regarding #40 - would you like me to open a separate pull request updating the version to 0.8.5 or would you prefer me to open this against the above branch?

[2018-12-06 09:03] christoff-1992 commented on #35
@zenangst - leave this one with myself then, Il have time over the weekend to take a look. 👍

[2018-12-06 13:49] #40 closed

[2018-12-06 14:10] zenangst opened #43 "Improve public API for builtin layouts"
I think it would be nice to improve the public API's for the built-in layouts.
The user (developer) should never have to declare variables that are not used, it simply obscures the public having them there. For example, you don't need to assign an `itemSize` to a mosaic layout because the size is calculated based on the variables. This kind of clean up would be a good improvement to `Blueprints`.

[2018-12-06 14:11] zenangst commented on #43
And seeing as we are not at `1.0` yet, let's break the API before rather than after.

[2018-12-06 14:38] zenangst opened #44 "Improve the README by showing examples of the layouts"
The README should get a bit of love with some screenshots showing of what kind of layouts that `Blueprints` provides out of the box.

[2018-12-07 09:06] christoff-1992 commented on #44
@zenangst - Im putting together an example application at the moment for iOS if this helps? I thought it would be useful not only fore a demo but for a common ground to investigate potential issues.

[2018-12-07 09:08] zenangst commented on #44
@christoff-1992 sounds like a fantastic idea. Perhaps we should incorporate that into Travis.
So when we make a new PR etc, it would also build those projects just to make sure that the examples actually compile.

We should probably have examples for all three platforms, but we can start with iOS :)

[2018-12-07 09:11] christoff-1992 commented on #44
@zenangst sure that sounds like a good idea :) .. and maybe this is where I start to learn more about the OSX and TV platform 😁

[2018-12-07 09:13] zenangst commented on #44
You should, they are tons of fun! tvOS is just a subset of UIKit so that should be pretty straightforward. macOS can be daunting at first but when you get the hang of it you can make magic. macOS is probably my favorite platform to develop for... warts and all :)

[2018-12-07 09:17] christoff-1992 commented on #44
@zenangst - Its just a platform I have not had much time to explore in my day to day ongoings, have sent you an email if your GitHub Author email is correct/an actual address.

[2018-12-14 10:23] christoff-1992 opened #45 "Index path invalidated during code execution"
This is an extension of #40 #42, when the layout has been changed I have observed occasionally that the indexPath is invalidated. The previous fix makes assumptions that this will be available and it probably should be but hey ho..

![screenshot 2018-12-14 at 10 06 13](https://user-images.githubusercontent.com/12499390/49997726-413ebb00-ff8a-11e8-9f42-8d339b33807b.png)

[2018-12-14 11:02] #45 closed

[2018-12-14 11:05] christoff-1992 opened #47 "Section headers/footers cause the layout to display incorrectly after #41"
If section headers/footers have been implemented the cells are not positioned correctly, some overlap others.

![screenshot 2018-12-14 at 08 40 28](https://user-images.githubusercontent.com/12499390/50000005-2707db80-ff90-11e8-8895-69c09b149740.png)

[2018-12-14 11:11] zenangst commented on #47
@christoff-1992 Interesting, perhaps I forgot to commit that in my fix. Wanna take a look at it?

[2018-12-14 11:21] christoff-1992 opened #48 "Unable to scroll past all items in the collection view. Affects both horizontal and vertical layout when using dynamic heights."
I know changes haven't been made to the horizontal layout to fully support dynamic heights however I thought it worth mentioning here that both are affected in slightly different ways.

**Vertical:**
If the previous columns last item has a greater height than the last item in the last column, then the scrollview bounds are pinning against the last item. This stops the user from scrolling which in

[2018-12-14 11:33] zenangst commented on #48
@christoff-1992  I think this is what the `maxY` should be used for. To set the correct content size height when the algorithm is done.

[2018-12-14 11:34] christoff-1992 opened #49 "Horizontal Layout - layout attributes for supplementary items changed without invalidating the layout."
If headers and footers are been used the horizontal layout will crash when been set.

[code]

[2018-12-14 15:55] christoff-1992 commented on #48
@zenangst - It is indeed just been playing around with it, but getting some unusual behaviour where cell reusability looks to be taking/re-using the cell whilst it's still visible 🤣.. Worse the more items per row you use. May have to leave it there for today but will pick this up 😁 its been a good learning exercise around the collection view layout so far!

[2018-12-17 05:27] HackShitUp opened #53 "Multiple Sections?"
Is there a way to use this with multiple sections? When I set the layout, it crashes and I get this error:
[code]
It traces back to the **VerticalBlueprintLayout.swift**'s class _prepare()_ method:

[code]

The objective was to make the 2nd and 3rd sections of the collection view use the VerticalBlueprintLayout while keeping the 1st section customized.

[2018-12-17 07:56] zenangst commented on #53
Hey @HackShitUp, looks like a plain old bug to me if it crashes with an out of range exception.
Do you have an example project that we can use to quickly fix the issue or would you mind just making a pull request to fix it up? 😎

[2018-12-17 08:21] HackShitUp commented on #53
@zenangst I doubt it. I can't do that atm, because the project's a bit expansive. I can tell you though, that section 0 loads its items dynamically. As in, when a query call's completed, it loads its results into objects that then loads the total number of those objects into section 0 (ie: Query calls, returns objects, loads total number of objects in section 0).

Could this have anything to do wi

[2018-12-17 11:16] christoff-1992 commented on #53
This does sound like the issue I resolved in #46 .. but if it still happens after `0.8.5` see if you can reproduce it in the example project on a separate fork? Should be easy to hunt down the problem :)

[2018-12-17 21:07] HackShitUp commented on #53
Sure, @christoff-1992 @zenangst I can try and build an example project for this but I'm going to need some time. Also, I just want to make sure that I'm not using this incorrectly (ie: is there no further cell size specification required via the UICollectionViewDelegateFlowLayout protocols when using the VerticalMosaicLayout?). How do the cell sizes work for a given layout's section?

[2018-12-18 09:59] zenangst commented on #49
I got this crash today. I'm gonna take a stab at solving it :)

[2018-12-18 11:50] zenangst commented on #49
I think I might be one to something now, will make a PR if I land on something!

[2018-12-19 10:54] christoff-1992 commented on #48
We can probably close this one off now that #54 has been merged in :)

[2018-12-19 10:54] zenangst commented on #49
It seems like `prepare` can be invoked multiple times which makes this kind of thing invalid:

https://github.com/zenangst/Blueprints/blob/master/Sources/Shared/Core/HorizontalBlueprintLayout.swift#L128

From Googling the issue, it looks like a common issue with using headers in collection views since Apple introduced features like `prefetching`.

I didn't manage to solve it properly so I'll un-as

[2018-12-19 10:55] christoff-1992 commented on #48
Sure :D

[2018-12-19 11:18] christoff-1992 commented on #48
The particular issue looks fine however this is what I was describing, reckon this is related or a separate issue? If it is il close this and investigate.

![cells](https://user-images.githubusercontent.com/12499390/50217136-c86fa280-037f-11e9-810f-206614b2c2cb.gif)

[2018-12-19 13:03] zenangst commented on #48
I wonder if that has todo with the BinarySearch constraints.
I was unable to replicate this properly when testing.
Mind sharing the settings that you are using here so that I can replicate the bug in the example?

[2018-12-19 18:47] zenangst commented on #48
@christoff-1992  This is a bit tricky to test because it does not always appear. However, I've made a PR to fix this issue here #55 Mind taking that for a spin to see if you can still replicate the glitch?

[2018-12-19 19:03] christoff-1992 commented on #48
@zenangst sure thing will have a play around :)

[2018-12-19 19:11] #48 closed

[2018-12-19 19:15] christoff-1992 commented on #53
@HackShitUp - Theres already an example project if that helps :) .. just add another layout with your config. If you're using the Mosaic layout, it doesn't have support for multiple sections at the moment.

[2018-12-26 11:34] zenangst commented on #44
I think we could use screenshots from the example application and put those in the README 🤠

[2018-12-26 11:35] zenangst commented on #35
@christoff-1992 had any time to examine this issue yet?

[2018-12-27 16:57] zenangst commented on #43
@christoff-1992 you reckon there are any other initializers that need changing? I think it was the mosaic layout that was really confusing people here.

[2018-12-27 17:01] zenangst commented on #49
Bah, this needs fixing but haven't had any time to fix this properly yet... Life keeps getting in the way.

[2018-12-27 17:01] zenangst commented on #49
Fixing this might as well go hand in hand with #35, at least I think so... they are kinda related in a way.

[2019-01-02 15:49] christoff-1992 commented on #53
@HackShitUp - Any updates on the above? 🙂

[2019-01-03 08:09] #49 closed

[2019-01-12 12:33] zenangst commented on #53
Closing this issue to the lack of activity.

[2019-01-14 10:14] christoff-1992 opened #61 "Incorrect cell position when only one item is displayed in a vertical layout"
When a vertical layout only has one item in the section the sectionMaxY is not set correctly as it is missing from the calculations.

[2019-01-14 10:34] #61 closed

[2019-01-14 12:15] #43 closed

[2019-01-14 12:51] christoff-1992 opened #65 "OSX Example Project"
#44 - Screenshots of this can also be included in the ReadMe

[2019-01-15 15:56] christoff-1992 opened #66 "OS X - Cells under vertical scroll bar"
It appears that the cells appear under the scrollbar as this is not taken into account when the size of the item is been resolved. @zenangst - As I am no OS X developer is this by design?

[2019-01-16 06:42] zenangst commented on #66
I think that has to do with `Show scroll bars` in `General`.

<img width="668" alt="image" src="https://user-images.githubusercontent.com/57446/51231001-3d73cf00-1962-11e9-97e7-4ffb371921cd.png">

[2019-01-16 08:21] christoff-1992 commented on #66
Ohhh ok :) I can test the case when they're not there then I hope! .. just seems a bit strange as there look to be methods to hide the indicator. Wish I could find more documentation and examples on OS X development.

[2019-01-16 10:25] #66 closed

[2019-01-16 13:06] christoff-1992 opened #68 "OSX - Incorrect width returned by documentVisibleRect"
The frames width is used to calculate the threshold when laying out the items, however this is incorrectly returning a smaller value than the available collections view's width.

[2019-01-16 16:45] #68 closed

[2019-01-17 13:52] christoff-1992 opened #71 "OSX - Scrollbar overlaps with solid background (based on users general preferences)"
If the user has the system preferences for show scroll bars set to either 'Always' or 'Automatically based on mouse or trackpad' where the mouse/trackpad doesn't support gestures, the scrollbar style used has a solid background by default.

This means that the cells are partially covered sometimes.

Example - 'Always' or device without gesture support when using 'Automatic':

![screenshot 2019-01-

[2019-01-18 12:55] #71 closed

[2019-01-18 13:02] christoff-1992 opened #73 "OSX Footers misplaced in vertical layout when using stickyFooters"
The footers are bound to the collection views bounds height, on OSX this can be greater than the enclosing scroll views bounds height.

[2019-01-18 13:22] #73 closed

[2019-01-23 09:45] christoff-1992 opened #77 "Incorrect layout attributes for headers"

[2019-01-23 09:46] christoff-1992 opened #78 "OSX incorrect item size when using a horizontal layout"

[2019-01-23 09:46] christoff-1992 opened #79 "OSX scroll bar above cells in mosaic layout"

[2019-01-23 10:55] #77 closed

[2019-01-23 10:55] #78 closed

[2019-01-23 10:56] #79 closed

[2019-01-23 12:44] christoff-1992 opened #85 "macOS Example project - Implement dynamic height for cells"
Need to implement an example for dynamic height for the macOS Example, at the point of asking for the size in sizeForItemAt*, the collection view has not been loaded into the view so we can not make use of makeItem(withIdentifier*.

We will need to load a dummy cell and set the calculated width like the iOS example does.

[2019-01-23 12:45] christoff-1992 opened #86 "Example projects - refactor common code into reusable lib"
Following best practices move common code into a shared lib so that it can be reused it will also minimise impact on maintenance.

[2019-01-23 12:49] christoff-1992 opened #87 "NSCollectionView does not update the content size correctly after animating layout changes"
When setting a new layout the contentSize doesn't correctly update, this can be seen in the macOS example project when switching between the horizontal layout -> mosaic layout. As the previous content size has a larger width than the updated layout. Resizing the window makes the collection view update correctly but I am not sure at this time what is causing this.

This may also be an issue on iOS

[2019-01-23 14:18] #65 closed

[2019-01-23 14:19] #44 closed

[2019-01-23 15:50] christoff-1992 opened #89 "Remove VerticalWaterfallBlueprintLayout"
The layout is no longer needed as the VerticalBlueprintLayout offers the same functionality with added support for section, headers and footers.

[2019-01-23 16:27] zenangst commented on #89
This is super true ;)

[2019-02-08 10:25] #87 closed

[2019-02-14 16:00] christoff-1992 opened #98 "[Example] Horizontal Layout headers and footers UILabel exceed maximum graphic context buffer."
Opening this issue for the visibility of others as it's something to keep in mind.

When using the horizontal layout with headers and footers, when not set to stick, they will take the full width of the section.

If you have for example the following layout (see below), where the UILabel is constrained to the edges of the view. It's possible for the UILabel to exceed the graphics context buffer. I

[2019-02-18 11:40] #98 closed

[2019-04-09 23:05] joshbirnholz commented on #53
I'm having this issue as well.

[2019-04-10 08:11] zenangst commented on #53
@joshbirnholz, could you provide a test project where this issue is reproducible, then we could look into it further :)

[2019-05-21 12:12] christoff-1992 opened #107 "Bug/Rogue calls to prepare without invalidating the context"
The system occasionally calls prepare without invalidating the context, this can cause additional calls to things like sizeForItemAt which is not good if you're keeping a cache of sizes instead of returning them directly.

[2019-05-28 13:25] #107 closed

[2019-05-28 16:27] zdnk commented on #85
is there iOS example? using autolayout in code would be the best :)

[2019-05-28 19:33] zenangst commented on #85
Hey @zdnk, there is a demo project for iOS included in the library. Simply run the `Blueprints.xcodeproject` and select the example target :)

[2019-05-29 09:56] zdnk commented on #85
From what I discovered, it is running the AutoLayout but getting the prototype cell, laying it out and caching its size. However doesnt iOS provide autosizing with AutoLayout by default without such implementation?

[2019-05-29 10:02] zenangst commented on #85
@zdnk Oh like that, I thought you were wondering about an example in general, my bad!
I'm a bit unsure, I've yet to implement a collection view layout with autolayout based constraints in order to figure out the item size. I think this is a bit of a chicken and eggs scenario because you don't know the size of the item at the time when `prepare` is invoked, I might be wrong here.

What performance

[2019-05-29 10:29] zdnk commented on #85
I see. Well AutoLayout is way too slow anyway. I am considering usage of [Texture](https://texturegroup.org/), [PinLayout](https://github.com/layoutBox/PinLayout) or [FlexLayout](https://github.com/layoutBox/FlexLayout).

[2019-05-29 10:31] zenangst commented on #85
@zdnk all good alternatives! Best of luck :)

[2019-06-12 09:02] christoff-1992 opened #110 "Configuration without footers missing sectionInsetBottom"
When you don't use footers the section inset bottom is missed out in the calculations for the nextY.

[2019-06-12 10:37] #110 closed

[2019-07-12 06:29] Karthus1110 opened #113 "iOS VerticalBlueprintLayout add item question"
![8F0409E475AABDFE5C0FA6AE021EDB65](https://user-images.githubusercontent.com/13864988/61107008-61e3da80-a4b1-11e9-8b47-54e06a98b7fd.png)

![image](https://user-images.githubusercontent.com/13864988/61107314-3a414200-a4b2-11e9-99f6-6e57a72b7ccd.png)

prefer add left line,On the right side of the blank

[2019-07-16 18:49] zenangst commented on #113
Hey @Karthus1110, if I understand you correctly you want the items to fill the empty space on the right? Mind sharing the configuration of your layout? Or even better, a dummy project would be awesome to see if this is a configuration issue or a bug in the layout.

[2019-07-17 01:02] Karthus1110 commented on #113
@zenangst here is the configuration
![image](https://user-images.githubusercontent.com/13864988/61339633-47bf4900-a871-11e9-9424-c82c735186f5.png)
![image](https://user-images.githubusercontent.com/13864988/61339649-560d6500-a871-11e9-8ad0-2318c767eb30.png)

I don't know if I misconfigured it

[2019-07-17 04:19] zenangst commented on #113
@Karthus1110 thanks for that, I’m currently on vacation with my family but I’ll look into this when life allows. @christoff-1992 do you have some spare time to test this out? If not then I’ll check it in a weeks time or so.

[2019-07-17 09:10] zishanj opened #114 "fixed width in horizontal scrolling"
Is it possible to fix the width to constant value in `HorizontalBlueprintLayout`. I have tried using `estimatedItemSize` and width constraint on `contentView` but its getting override by the library.

[2019-07-17 09:13] zenangst commented on #114
@zishanj hey mate, try setting `itemSize` instead of `estimatedItemSize` using this initializer: https://github.com/zenangst/Blueprints/blob/master/Sources/Shared/Core/HorizontalBlueprintLayout.swift#L24

[2019-07-17 10:33] zishanj commented on #114
That gives me error of `private function`.

[2019-07-17 10:43] zishanj commented on #114
Sorry, it works with _different number_ of parameters https://github.com/zenangst/Blueprints/blob/master/Sources/Shared/Core/HorizontalBlueprintLayout.swift#L95. Thanks

[2019-07-17 10:43] #114 closed

[2019-07-17 10:50] zishanj opened #115 "Dynamic height for HorizontalBlueprintLayout"
With `UICollectionViewFlowLayout` I can set the height dynamic which adjust itself according to the underlying content by setting `height` in `estimatedItemSize` to 1 and then overriding `systemLayoutSizeFitting` in cell and setting height again to 1. This makes the height auto-adjusted according to its content. In Blueprints, it seems to be overriding it and I am no longer able to make it dynamic

[2019-07-17 11:29] zenangst commented on #115
@zishanj Blueprints does not currently support dynamic widths or heights. We would love to add it so if you are up for me, make a PR and we will gladly review it :) I don’t think it would be to hard, just make an exception for estimated heights and check the cell for the system layout size fitting method, I might be wrong but that is my initial gut feeling.

[2019-07-17 11:32] zenangst commented on #115
Did a quick search and found this: https://link.medium.com/oj69yvGzoY
Might be a good starting point for the implementation.

[2019-07-17 13:17] zishanj commented on #115
I wonder why the usual code does not work any more with this lib like I mentioned in my main comment. It was simple with that by setting height to 1.

[2019-07-20 12:52] zenangst commented on #115
I think it has to do with how we explicitly set the size of the items. We should revisit this and reimplement it in a way that works with dynamic size.

[2019-07-22 16:57] zishanj commented on #115
Anxiously waiting for this fix.

[2019-07-24 16:35] zenangst commented on #115
@zishanj I've started investigating how this could be implemented now, no ETA and no promises. Will post an updated when I have something more substantial to convey.

[2019-07-25 09:54] christoff-1992 commented on #115
@zenangst - I think I still have the work for this in the work I was looking at for the invalidation context. I believe you already have access to the repo, if not send us a message on slack.

[2019-07-25 09:59] christoff-1992 commented on #113
@zenangst - Apologies only just seen the messages, been a bit busy recently but will take a look as soon as I can.

[2019-07-25 10:07] christoff-1992 opened #116 "Bug/LayoutAttributes skipped when there are no items in a section"
Layout attributes are not added when there are no items for a section, this will cause index out of bounds exceptions.

[2019-07-25 10:35] #116 closed

[2019-07-26 06:12] Karthus1110 commented on #113
Thanks for your reply
i have try the code you give, but it still not work
The question appears when load more, you can try to load 3-5 pages, it will show
here is the demo
[PixHall.zip](https://github.com/zenangst/Blueprints/files/3434398/PixHall.zip)

[2019-07-26 18:04] zenangst commented on #115
@zishanj I have a branch that you can try out here `feature/support-for-dynamic-sizes`.
Take it for a spin and see how it works for you, I've done some testing using unit tests but I have yet to try it in a project (for the lack of time).

I hope this branch takes us closer to the goal.

[2019-07-27 08:01] zishanj commented on #115
I have tried this branch today and the result was same. `estimatedHeight` and `systemLayoutSizeFitting` does not makes it dynamic by setting height to 1.

[2019-07-27 08:04] zenangst commented on #115
@zishanj Have you implemented preferredLayoutAttributesFitting on your cells?

[2019-07-27 08:17] zishanj commented on #115
Previously with `UICollectionView` I have been using:
`layout.estimatedItemSize = CGSize(width: 180, height: 1)`
and in cell
[code]
This makes the height dynamic with fixed width. With blueprint I have just replaced `layout.estimatedSize` to be used in its init:
[code]
and using same `systemLayoutSizeFitting` in cell. But it didn't work!

[2019-07-27 08:39] zenangst commented on #115
@zishanj mind setting up a demo project that we can have access to? That would definitely speed things up.

Did you try the preferred layout attributes approach?
You can check the setup in one of the tests on the new branch.

[2019-07-27 08:50] zenangst commented on #115
Also, itemSize is not the same as estimated item size, try to set that explicitly after you create the layout. (We can definitely improve the init methods here).

[2019-07-27 09:53] zishanj commented on #115
I tried in this way now without any luck:
`layout.estimatedItemSize =UICollectionViewFlowLayout.automaticSize`
then in cell I have only explicitly mentioned the width expecting the height to get auto adjust:
[code]

[2019-07-27 10:11] zishanj commented on #115
Help me find the class `DynamicSizeCell` which you are using in your test.

[2019-07-27 10:17] zishanj commented on #115
I guess height in this init:
[code]
is overriding the dynamic height in cell. When I debug the view hierarchy it still gives me height = 1.

[2019-07-27 10:37] zishanj commented on #115
I tried to dig into your test and used this init:

[code]

along with:

`layout.estimatedItemSize = CGSize(width: 180, height: 1)`

The result was very odd. It didn't even adjusted the width to 180 and it was very smaller than its layout. I then explicitly set the `itemSize` like in your test:

`layout.itemSize = CGSize(width: 180, height: 1)`

This then adjusted the width but the height again get

[2019-07-27 12:40] zenangst commented on #115
@zishanj Can’t really help more than I have at the moment, on vacation with my family. Will have to revisit this at a later date.

One thing that struck me is that the current implementation is made to support dynamic widths, not height when doing horizontal layouts. I guess that was a faulty assumption on my part that only supporting dynamic width would be enough. This might be the reason for it

[2019-07-31 05:26] SwiftAppx opened #120 "OSX example doesn't compile"
Compile OSX framework is Ok
Compile OSX example is ok but problem is link
the message error are:

Undefined symbols for architecture x86_64:
  "___llvm_profile_runtime", referenced from:
      ___llvm_profile_runtime_user in BlueprintLayoutAnimator.o
      ___llvm_profile_runtime_user in BlueprintLayoutAnimation.o
      ___llvm_profile_runtime_user in TypeAlias.o
      ___llvm_profile_runtime_user

[2019-07-31 07:55] christoff-1992 commented on #113
Ahh it's not the layout, it's the fact that you have run out of images in the collection, you don't download images until the threshold is hit. You need to adjust the polling of new images to take into account the y position of the last cell. If you keep scrolling down you will see that the application downloads additional images and the cells fill up the available space.

[2019-07-31 08:01] Karthus1110 commented on #113
I konw i have run out of images in collection. But i think the correct present is this two line should be filled more evenly.

[2019-07-31 12:12] christoff-1992 commented on #113
@Karthus1110 - Il take a proper look as soon as I get time :)

[2019-08-01 13:01] zenangst commented on #120
Hey @SwiftAppx, I haven't seen this issue before. What are you using to compile the framework? Just running the Xcode project? Installed it via CocoaPods or Carthage?

[2019-08-01 18:06] SwiftAppx commented on #120
Hi,
Just download the last zip file
I can post images if you need

[2019-08-05 07:45] zenangst commented on #115
@zishanj I pushed some new updates to the branch now that should support both dynamic width and height. What you return from `preferredLayoutAttributesFitting` on your cell will no take precedence over what is used on the layout. If you return a negative value on either `width` or `height` in `preferredLayoutAttributesFitting`, then the `estimatedItemSize` will be used.

[2019-08-05 07:56] zenangst commented on #115
Did some testing on that branch, seems like it still needs some work to get it right.

[2019-08-05 08:20] zenangst commented on #115
I've continued with the implementation, slowly making progress.

[2019-08-05 10:01] zenangst commented on #115
@zishanj mind trying the branch again? I think we've made a lot of progress now.

[2019-08-05 13:22] zenangst commented on #120
@SwiftAppx Odd, I'm not seeing this issue. Do you have any additional information you can provide?

[2019-08-05 19:00] zenangst commented on #115
Minor update on the progress, the branch should be able to handle vertical layouts using dynamic sizes now. Looking into horizontal layouts now.

[2019-08-06 15:03] christoff-1992 commented on #120
The last time I had an issue like this (Not with this particular project) it was just a case of deleting the derived data and clean build. @SwiftAppx - You may have already done this but if you haven't do you mind giving it a go?

[2019-08-14 14:50] christoff-1992 commented on #113
@Karthus1110 - Sorry for the late reply, it hasn't been such a simple fix and myself and @zenangst have been looking into improving the layout.

![2019-08-14 15 48 19](https://user-images.githubusercontent.com/12499390/63030934-1acf7780-beab-11e9-8647-98360e3653ce.gif)

Does this look better?

[2019-08-15 02:29] Karthus1110 commented on #113
@christoff-1992 Thanks very much.It's looked really nice now.

[2019-08-15 10:15] christoff-1992 commented on #113
@Karthus1110 - Take a look at the latest release 😁 https://github.com/zenangst/Blueprints/releases/tag/0.12.1 can you let us know if it resolves your issues. We have tested against the demo project and it looks to be fixed.

[2019-08-27 09:49] christoff-1992 commented on #113
Closing issue as this has been reworked @Karthus1110 - feel free to re-open if there are still issues with this.

[2019-08-27 09:49] #113 closed

[2019-09-06 12:21] zenangst commented on #120
Closing this due to inactivity

[2019-09-06 12:21] #120 closed

[2019-09-18 10:55] christoff-1992 opened #127 "Bug/Negative footer item index"
Due to the offset used when obtaining the last footer reference it's possible for the requested item to be negative e.g -1. In this scenario we should return the footerReferenceHeight as there will be no footer to be displayed.

[2019-09-18 14:57] #127 closed

[2019-09-19 14:35] Johnathan-Aretos commented on #115
Hi, Great developments by the way.

I spent the last few hours messing around with the dynamic height's and I can't seem to achieve the results. I had a look at the tests @zenangst wrote and they seem to be passing but I can't replicate the same.

My `preferredLayoutAttributesFitting` returns the correct value I desire in my layout but it doesn't update or render in the collectionView. Even after

[2019-09-20 05:36] zenangst commented on #115
Hey @Johnathan-Aretos, the world has not allowed me to continue this adventure as of late.
When it comes to preferred layout attributes, that invalidation happens after `prepare` has been invoked and the views start aggregating in the view hierarchy. The preferred attributes are then diffed against the layout attributes cache and if there is a diff, that specific layout attribute should be invalid

[2019-09-20 05:51] Johnathan-Aretos commented on #115
No worries! I'll play around with it and see if I can pick up where you left off, if I figure it out I'll make a PR.

Thanks for all the information as well I'll see what I can do

[2019-10-10 06:47] zenangst commented on #115
@Johnathan-Aretos hey man, just wanted to do a quick follow-up on this; did you manage to get any traction when investigating this?

[2019-10-13 00:32] Johnathan-Aretos commented on #115
Hey,

I spent about 3 days on it trying to figure it out but couldn't figure it out. I had to move onto something else because of work, just waiting for some free time to sit down and had another go at it. Sorry man.

[2020-02-07 11:48] christoff-1992 opened #136 "OSX Incorrect width for headers and footers"
The headers and footers width are not displaying the correct width.

[2020-02-07 11:51] christoff-1992 opened #137 "Dynamic heights for headers and footers breaks cell positioning."
When using dynamic heights for headers and footers the height of the collection view is incorrect. The last item will be overlapped by the footer due to the footers dynamic size not been taken into account. This had been fine in the past and may be related to some of the refactoring between #131 and master.

[2020-02-07 11:52] christoff-1992 commented on #85
We may be able to do this with the preferred layout attributes, I will take a look once this has been merged into master.

[2020-02-07 11:53] christoff-1992 opened #138 "Update demo project for iOS 13."
With the changes in iOS 13 the demo project does not look as great as it could. It just needs some small tweaks here and there.

[2020-02-20 23:57] argentounce commented on #136
It also happens in iOS. I found that if you comment `headerReferenceSize` it works as expected. Previously it was needed. Hope it helps

[code]

[2020-03-02 15:59] christoff-1992 opened #139 "Number of sections should default to 0"
The number of sections should default to 0 to stop subsequent calls been made to other delegate methods when there are no items to be displayed.

https://github.com/zenangst/Blueprints/blob/c3dc5442d3102d933bc439c5c845b277b20034b1/Sources/Shared/Core/BlueprintLayout.swift#L38

This would cause a crash if headers/footers where been dequeued.

[2020-03-02 16:49] zenangst commented on #139
Very interesting find mate!

[2020-06-26 09:00] RSickenberg opened #142 "[SUGGESTION] AutoCenter flow"
Hello 👋 , first of all thanks for this project!

I'd like to know if it would be possible to auto-compute the `sectionInset` based on the layout (and with self cell size calculation) 😄 .

Regards

[2020-06-26 09:03] zenangst commented on #142
Oh that would be interesting, which layout would you like to apply this too?

[2020-06-26 09:15] zenangst commented on #142
We have a branch going to support estimated item size: `feature/preferred-layout-attributes`.
It is not 100% yet but it should have basic support for implementing preferred layout attributes on your cells.

[2020-06-26 09:45] RSickenberg commented on #142
@zenangst VerticalLayout for instance, maybe Mosaic. I can test for you if needed :)

[2021-03-26 16:27] alexanderkhitev opened #143 "Incorrect "Waterfall" layout order"
Hey! Thank you for the great framework!
I tried demo project and noticed a vertical layout bug.
For instance: CollectionView contains multiple cells and two cells with index 31 and 32 which have the same Y, but the cell with index 31 is located on the right, not on the left.

Please have a look on the screenshots.
![Screen Shot 2021-03-26 at 8 14 21 PM](https://user-images.githubusercontent.com/12

[2021-03-26 16:28] alexanderkhitev commented on #143
Does framework have any settings to change it? Thanks!

[2021-03-26 16:32] alexanderkhitev opened #144 "Performance"
Hey! Does this framework have any performance specifications? How many cells we can use/fetch at once? Thanks!

[2021-03-30 18:25] zenangst commented on #144
Hey @alexanderkhitev, we haven't done any "scientific" measurements but we have had performance as one of our cornerstones when developing the framework. It should be robust because it leverages from binary search when it comes to letting the UI know which cells should be drawn on screen. Probably not the answer that you want but it would probably be a good idea just to try it out to see if "the s

[2021-03-30 18:27] zenangst commented on #143
Hey @alexanderkhitev, nope that kind of setting does not exist right now but we are open to reviewing PR's if you'd like to improve the framework.

[2021-03-31 11:11] alexanderkhitev commented on #144
Hey @zenangst ! Thank you for a detailed answer!

[2021-03-31 11:11] alexanderkhitev commented on #143
Ok, thank you!

[2021-03-31 11:11] #143 closed

[2021-03-31 11:11] #144 closed

[2021-04-06 09:17] zenangst commented on #144
@alexanderkhitev you are most welcome! 😎